@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model AuthenticationAPI.Models.ViewModels.LoginViewModel

@section Head {
    <link rel="stylesheet" href="@(Url.Content("~/css/login.css"))" />
}

<div class="container">
    <div class="login-box">
        <div class="logo-header">
            <div class="logo">
                <img id=logoImg src="~/assets/logo2.png" alt="bcmtrac logo">
            </div>
            <div class="welcome-text">User Login</div>
        </div>

        <form asp-action="LoginPost" method="post" novalidate>
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label asp-for="Username">Username:</label>
                <input asp-for="Username" type="text" autocomplete="username" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password">Password:</label>
                <input asp-for="Password" type="password" autocomplete="current-password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="button-group">
                <button type="submit" class="btn btn-login">Login</button>
                <a href="/" class="btn btn-cancel" role="button">Cancel</a>
            </div>

            <div class="forgot-password">
                Forgot Your Password? - <a asp-action="ForgotPassword" asp-controller="Account">Click Here</a>
            </div>
        </form>
    </div>
</div>

<div class="footer">
    <div>© 2015–2025 BCMTrac. All rights reserved.</div>
    <div><a href="#">Website Terms of Use</a></div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
