@{
    ViewData["Title"] = "Login";
}
@model AuthenticationAPI.Models.ViewModels.LoginViewModel

<link rel="stylesheet" href="@(Url.Content("~/css/Login.css"))" />

<div class="container">
    <div class="login-box">
        <div class="logo-header">
            <div class="logo">
                <span class="logo-text">BCMTrac</span>
            </div>
            <div class="welcome-text">User Login</div>
        </div>

        <form asp-action="LoginPost" method="post" novalidate>
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label asp-for="Username">Username:</label>
                <input asp-for="Username" type="text" autocomplete="username" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password">Password:</label>
                <input asp-for="Password" type="password" autocomplete="current-password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="button-group">
                <button type="submit" class="btn btn-login">Login</button>
                <a href="/" class="btn btn-cancel" role="button">Cancel</a>
            </div>

            <div class="checkbox-group">
                <label>
                    <input asp-for="RememberMe" /> Remember Me
                </label>
            </div>

            <div class="forgot-password">
                Forgot Your Password? - <a asp-action="ForgotPassword" asp-controller="Account">Click Here</a>
            </div>
        </form>
    </div>
</div>

<div class="footer">
    <div>Copyright © 2015 - 2025</div>
    <div><a href="#">Website Terms of Use</a></div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
